manifest {
    mainScript = 'main.nf'
}

params {
  output = "results/"
}

process {
    //container = 'faithman/semrna-seq-nf'
    publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
}

process.$qc_index.container = 'faithman/semrna-seq-nf'
process.$kal_index.container = 'faithman/semrna-seq-nf'
process.$kal_mapping.container = 'faithman/semrna-seq-nf'
process.$salmon_quant.container = 'faithman/semrna-seq-nf'
process.$fastqc.container = 'faithman/semrna-seq-nf'
process.$multiqc.container = 'faithman/semrna-seq-nf'
process.$sleuth.container = 'cbcrg/kallisto-nf'

